*{
    margin: 0;
    padding: 0;
}
main{
    overflow: hidden;
    padding: 0 20px;
}
.card-cont{
    padding: 20px;
    margin: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;    
    gap: 32px;
    flex-wrap: wrap;
}
.card{
    min-width: 250px;
    margin-bottom: 10px;
    position: relative !important;
}
.navigator{
    margin:  10px;
}
.navigator span{
    color: var(--secondary);
}
@media(max-width: 810px){
    .pro-card{
        width: 30%;
    }
}